name: auto-update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 4' # JST(UTC+0900) で金曜日0:00に実行
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          ref: 'main'
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
      - name: install dependencies
        run: npm ci
      - name: download data
        run: npm run download
      - name: check diff
        id: diff
        run: |
          git add -N . # 新規ファイルを含める
          echo "count=$(git diff --name-only | wc -l)" >> $GITHUB_OUTPUT
      - name: release # 公開するデータフォーマットに変換
        if: steps.diff.outputs.count > 0
        run: npm run release
      - name: commit and push
        if: steps.diff.outputs.count > 0
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "actions-user"
          git add ./icon ./src
          git commit -m "[update] event data"
          git add .
          git commit -m "[release] latest data"
          git push origin main
